.name_box {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */

  border-radius: 10px;
  padding: 10px;
  background-color: orangered;
  color: white;
}
.name_box > p {
  margin: 0px 3px;
  font-size: 15px;
  font-weight: bold;
}
.closeIcon_style {
  height: 16px !important;
  width: 16px !important;
  margin: 0px;
}
