.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(252, 214, 207);
}

.header_wrapper {
  display: flex;
}
.content_wrapper {
  display: flex;
  align-items: center;
}
.chatAccount_wrapper {
  flex: 1;
  background-color: wheat;
}
.chatBox_wrapper {
  flex: 2;
}
