.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(252, 214, 207);
}

.header_wrapper {
  display: flex;
}
.content_wrapper {
  display: flex;
  /* width: 100%; */
  /* align-items: center; */
}
.chatAccount_wrapper {
  flex: 2 !important;
  min-width: 300px;
  /* background-color: wheat; */
}
.chatBox_wrapper {
  flex: 1 !important;
  /* background-color: rgb(204, 240, 252); */
  background-color: wheat;
  min-height: 100vh !important;
  /* width: 100%; */
}
