.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: orangered;
  color: white;
}
.search_wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.searchbar {
  width: 60%;
  height: 35px;
  border: none !important;
  border-radius: 20px;
  margin-right: 5px;
  background-color: rgb(221, 220, 219);
}
.heading_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.profile_wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.sideDraw_listItem {
  margin-bottom: 1px !important;
  color: black;
}
.sideDraw_listItem_text > p {
  margin: 2px;
}
.sideDraw_listItem_name {
  font-size: 18px;
}
.sideDraw_listItem_email {
  font-size: 14px;
}
.Modal_box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(221, 220, 219);
  gap: 10px;
}
.MadalAvatar {
  text-align: center;
  /* background-color: thistle !important; */
}
.profile_avatar {
  height: 30vw !important;
  width: 30vw !important;
}
.profile_buttton {
  background-color: orangered !important;
  color: white !important;
}
